
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color:linear-gradient(90deg, #007db5, #3fbf7f);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #007db5, #3fbf7f);
    color: white;
  }
  
  header .logo img {
    height: 50px;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #94d2bd;
  }
  
  section {
    padding: 40px 20px;
    text-align: center;
  }
  
  section h2 {
    font-size: 2rem;
    color: #005f73;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background: linear-gradient(90deg, #007db5, #3fbf7f);
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  

  .btn-cadastro:hover {
    background-color: #2980b9;
  }
  

  .cadastro-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
  }
  
  .cadastro-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  
  select, textarea, input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn-submit {
    background-color: #2ecc71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #27ae60;
  }