<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="redefinindo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/CSS/esqueceu2.css" />
  </head>

  <body>
    <div class="container">
        <div class="card">
            <a href="esqueceuSenha.html" class="back-link">← Voltar</a>
            <h2>Precisamos confirmar seu contato</h2>
            <p>Selecione um dos contatos, vamos enviar um código de confirmação para garantir que só você tenha acesso a sua conta.</p>
            
            <div class="options">
                <label>
                    <input type="radio" name="contact" checked> Enviar código para o celular
                </label>
                <label>
                    <input type="radio" name="contact"> Enviar código para o E-mail
                </label>
            </div>
            <br>
            <button class="btn continue">Continuar</button><br><br>   
           
            <button class="btn no-access">Não tenho acesso a esse contato</button>
        </div>
    </div>
    <script src="/JS/esqueceuSenha.js"></script>
</body>
    
  
</html>
